#
# Apache v2 license
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

services:
  pca-server:
    #image: intel/pca-server:0.0.1
    hostname: pca-server
    container_name: pca-server
    read_only: true
    security_opt:
      - no-new-privileges
    build:
      context: ..
      target: pca-server
      args:
        UID: "1999"
        USER: "intelmicroserviceuser"
        BASE_IMAGE: "ubuntu:22.04"
        # Download sources for GPL/LGPL/AGPL binary distributed components (yes/no)
        no_proxy: ${no_proxy}
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
    privileged: false
    tty: true
    entrypoint: ["./run.sh"]
    ports:
      - '5002:5002'
    networks: #Review because it needs to be external to sync with the remaining ones
      - app_network
    environment:
      - no_proxy=$no_proxy
      - http_proxy=$http_proxy
      - https_proxy=$https_proxy
      # Default Detection and Classification Device
      - DETECTION_DEVICE=CPU
      - CLASSIFICATION_DEVICE=CPU
      - HTTPS=false # Make it "true" to enable SSL/TLS secure mode, mount the generated certificates
      - REST_SERVER_PORT=5002
      - SERVICE_NAME=pca-server
    volumes:
      - vol_pipeline_root:/var/cache/pipeline_root:uid=1999,gid=1999
      - "/run/udev:/run/udev:ro"
      - "/dev:/dev"
      - "/tmp:/tmp"
    group_add:
      # render group ID for ubuntu 20.04 host OS
      - "109"
      # render group ID for ubuntu 22.04 host OS
      - "110"
    device_cgroup_rules:
      # Default run - device-cgroup-rule='c 189:* rmw'
      # Selective rules can be applied for deployment
      - 'c 189:* rmw'
      - 'c 209:* rmw'
      - 'a 189:* rwm'
    devices:
      # Following devices under /dev filesystem will be needed based on usecase
      # dri - GPU
      # USB camera devices
      # Selective mount can be done for deployment as mounting whole /dev is not recommended
      - "/dev:/dev"

networks:
  app_network:
    driver: bridge

volumes:
  vol_pipeline_root:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs