openvino==2026.3.1
ultralytics==8.4.150
nncf[torch]==3.3.0
nncf==3.3.0
numpy==2.5.3
rich==15.0.0
timm==1.0.29
tensorflow-cpu==2.21.0
tensorflow_datasets==4.9.10
opencv-python==5.0.0.93
opencv-contrib-python==5.0.0.93
