openvino-tokenizers==2025.4.1.0
optimum-intel[nncf]==1.26.1
numpy==2.2.6; sys_platform == 'darwin'
einops==0.8.1  # For Qwen
transformers_stream_generator==0.0.5  # For Qwen
diffusers==0.33.1 # For image generation pipelines
timm==1.0.15  # For exporting InternVL2
torchvision==0.24.1  # For visual language models
transformers==4.55.4 # For Whisper
hf_transfer==0.1.9 # for faster models download, should used with env var HF_HUB_ENABLE_HF_TRANSFER=1
backoff==2.2.1 # for microsoft/Phi-3.5-vision-instruct
huggingface-hub==0.36.0
